
.black-bg{
    background-color:  #000000;
    opacity: 0.85;
    
}

.gray-bg{
    background-color: #CDCED8;
    
}

.video{
   width: 100%;
   height: 280px;  
    
}

.bgimage{
    background: url(http://thecoursegraph.com/assets/images/realcl.jpg) no-repeat center center fixed;
 
 max-height: 464px;
  min-width: 360px;
  
}

.searchindent{
	margin-left: 410px;
	
}

